@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {

  /*gradiente*/

  --cor01:#DBE2EC;
  --cor02: #0E23E5;
  --cor04: #a12323;
  --cor04:#052858de;

  --fonte-primary: 'League Gothic', sans-serif;
  --font-second: 'Lekton', sans-serif;
  --font-recipes: 'Marcellus', serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.all-searchbar {
  position: fixed;
  display: flex;
  margin-top: -800px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 479px;
  height: 129px;
  /* background-color: #23a190; */
}

.category-input-container {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  flex-direction: row;
  width: 108%;
  height: 100%;
  color: var(--cor02);
  font-size: 1.2em;
  word-spacing: 0.5em;
  /* background-color: #a12323; */
}

.input-text {
  color: #7d7979;
  border-radius: 20px;
  border: 1px solid var(--cor02);
  outline-color: #516774;
  width: 250px;
  height: 35px;
  padding: 10px;
  text-align: center;
}

.radio-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  width: 108%;
  height: 100%;
  /* background-color: #23a13e; */
}

.radio {
  width: 20px;
  height: 20px;
}